{
  "extends": [ "plugin:csharp/recommended" ],
  "plugins": [ "csharp" ],
  "rules": {
    "csharp/prefer-readonly-fields": "error",
    "csharp/no-unused-parameters": "error",
    "csharp/naming-conventions": "warn"
  }
}